<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>

<body>
    <a href="/cars?count=1">List of 1 car</a> <br>
    <a href="/cars?count=2">List of 2 cars</a>  <br>
    <a href="/cars?count=3">List of 3 cars</a> <br>
    <a href="/cars?count=4">List of 4 cars</a> <br>
    <a href="/cars?count=5">List of 5 cars(count == 5)</a> <br>
    <a href="/cars?count=100">List of 5 cars(count > 5)</a>

    <table style="margin: 15px auto 15px auto; background: bisque; border: 3px solid black">
        <tr>
            <td style="padding: 3px 5px; border: 1px solid black">Model</td>
            <td style="padding: 3px 5px; border: 1px solid black">Series</td>
            <td style="padding: 3px 5px; border: 1px solid black">Serial Number</td>
        </tr>

        <tr th:each="car : ${cars}">
            <td style="padding: 3px 5px; border: 1px solid black" th:text="${car.getModel()}"></td>

            <td style="padding: 3px 5px; border: 1px solid black" th:text="${car.getSeries()}"></td>

            <td style="padding: 3px 5px; border: 1px solid black" th:text="${car.getSerialnumber()}"></td>
        </tr>
    </table>

</body>
</html>