<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>

<body>
    <table border="3px">
        <tr>
            <td>Model</td>
            <td>Series</td>
            <td>Serial Number</td>
        </tr>

        <tr th:each="car : ${cars}">
            <td th:text="${car.getModel()}"></td>

            <td th:text="${car.getSeries()}"></td>

            <td style="text-align: center" th:text="${car.getSerialnumber()}"></td>
        </tr>
    </table>
</body>
</html>