<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>List of Users</title>
</head>
    <body>
            <button type="submit" onclick="location.href='/create_or_update/?user_id=0'" style="position: fixed; left: 30px; top: 30px">Create new user</button>

        <div>
            <table style="border-collapse: collapse; border: 1px solid black; margin: auto; text-align: center">
                <caption align="top">Users</caption>
                <tr>
                    <td style="border: 1px solid black; padding: 3px 10px">Id User</td>
                    <td style="border: 1px solid black; padding: 3px 10px">Name User</td>
                    <td style="border: 1px solid black; padding: 3px 10px">Last name User</td>
                    <td style="border: 1px solid black; padding: 3px 10px">age User</td>
                    <td style="border: 1px solid black; padding: 3px 10px">Email User</td>
                    <td style="border: 1px solid black; padding: 3px 10px">Roles User</td>
                    <td style="border: 1px solid black; padding: 3px 10px">Update User</td>
                    <td style="border: 1px solid black; padding: 3px 10px">Delete User</td>
                </tr>
                <tr style="border: 1px solid black" th:each="user: ${users}">
                    <td style="border: 1px solid black;" th:text="${user.getId()}"></td>
                    <td style="border: 1px solid black;" th:text="${user.getName()}"></td>
                    <td style="border: 1px solid black;" th:text="${user.getLastName()}"></td>
                    <td style="border: 1px solid black;" th:text="${user.getAge()}"></td>
                    <td style="border: 1px solid black;" th:text="${user.getEmail()}"></td>
                    <td style="border: 1px solid black;">
                        <table >
                            <tr th:each="role: ${user.getRoles()}">
                                <td th:text="${role.getRole()}"></td>
                            </tr>
                        </table>
                    </td>
                    <td style="border: 1px solid black;">
                        <a th:href="@{/create_or_update/?user_id={id}(id=${user.getId()})}">
                            Update user
                        </a>
                    </td>
                    <td style="border: 1px solid black;">
                        <a th:href="@{/?user_id={id}(id=${user.getId()})}">
                            Delete user
                        </a>
                    </td>
                </tr>
            </table>
        </div>
    </body>
</html>